<a href="https://colab.research.google.com/github/DevRichan/Practice-Exploring-Data/blob/master/Practice_exploring_data_with_tips_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
df = sns.load_dataset('tips')

In [ ]:
df.head(30)

    total_bill   tip     sex smoker  day    time  size
0        16.99  1.01  Female     No  Sun  Dinner     2
1        10.34  1.66    Male     No  Sun  Dinner     3
2        21.01  3.50    Male     No  Sun  Dinner     3
3        23.68  3.31    Male     No  Sun  Dinner     2
4        24.59  3.61  Female     No  Sun  Dinner     4
5        25.29  4.71    Male     No  Sun  Dinner     4
6         8.77  2.00    Male     No  Sun  Dinner     2
7        26.88  3.12    Male     No  Sun  Dinner     4
8        15.04  1.96    Male     No  Sun  Dinner     2
9        14.78  3.23    Male     No  Sun  Dinner     2
10       10.27  1.71    Male     No  Sun  Dinner     2
11       35.26  5.00  Female     No  Sun  Dinner     4
12       15.42  1.57    Male     No  Sun  Dinner     2
13       18.43  3.00    Male     No  Sun  Dinner     4
14       14.83  3.02  Female     No  Sun  Dinner     2
15       21.58  3.92    Male     No  Sun  Dinner     2
16       10.33  1.67  Female     No  Sun  Dinner     3
17       16.29  3.71    Male     No  Sun  Dinner     3
18       16.97  3.50  Female     No  Sun  Dinner     3
19       20.65  3.35    Male     No  Sat  Dinner     3
20       17.92  4.08    Male     No  Sat  Dinner     2
21       20.29  2.75  Female     No  Sat  Dinner     2
22       15.77  2.23  Female     No  Sat  Dinner     2
23       39.42  7.58    Male     No  Sat  Dinner     4
24       19.82  3.18    Male     No  Sat  Dinner     2
25       17.81  2.34    Male     No  Sat  Dinner     4
26       13.37  2.00    Male     No  Sat  Dinner     2
27       12.69  2.00    Male     No  Sat  Dinner     2
28       21.70  4.30    Male     No  Sat  Dinner     2
29       19.65  3.00  Female     No  Sat  Dinner     2

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

### Question 1 :
- Men and women who smoke
- Men and women who don't smoke

1. Assumption 1

I assume that the number of customers present is based on the number in the gender column

- men and women who smoke (Assumption 1)

In [ ]:
male_yes = df[(df['sex'] == 'Male') & (df['smoker'] =='Yes')]
print(male_yes)
print('The number of men who smoke = ',len(male_yes))

     total_bill    tip   sex smoker   day    time  size
56        38.01   3.00  Male    Yes   Sat  Dinner     4
58        11.24   1.76  Male    Yes   Sat  Dinner     2
60        20.29   3.21  Male    Yes   Sat  Dinner     2
61        13.81   2.00  Male    Yes   Sat  Dinner     2
62        11.02   1.98  Male    Yes   Sat  Dinner     2
63        18.29   3.76  Male    Yes   Sat  Dinner     4
69        15.01   2.09  Male    Yes   Sat  Dinner     2
76        17.92   3.08  Male    Yes   Sat  Dinner     2
80        19.44   3.00  Male    Yes  Thur   Lunch     2
83        32.68   5.00  Male    Yes  Thur   Lunch     2
90        28.97   3.00  Male    Yes   Fri  Dinner     2
95        40.17   4.73  Male    Yes   Fri  Dinner     4
96        27.28   4.00  Male    Yes   Fri  Dinner     2
97        12.03   1.50  Male    Yes   Fri  Dinner     2
98        21.01   3.00  Male    Yes   Fri  Dinner     2
105       15.36   1.64  Male    Yes   Sat  Dinner     2
106       20.49   4.06  Male    Yes   Sat  Dinner     2
107       25.21   4.29  Male    Yes   Sat  Dinner     2
138       16.00   2.00  Male    Yes  Thur   Lunch     2
170       50.81  10.00  Male    Yes   Sat  Dinner     3
171       15.81   3.16  Male    Yes   Sat  Dinner     2
172        7.25   5.15  Male    Yes   Sun  Dinner     2
173       31.85   3.18  Male    Yes   Sun  Dinner     2
174       16.82   4.00  Male    Yes   Sun  Dinner     2
175       32.90   3.11  Male    Yes   Sun  Dinner     2
176       17.89   2.00  Male    Yes   Sun  Dinner     2
177       14.48   2.00  Male    Yes   Sun  Dinner     2
179       34.63   3.55  Male    Yes   Sun  Dinner     2
180       34.65   3.68  Male    Yes   Sun  Dinner     4
181       23.33   5.65  Male    Yes   Sun  Dinner     2
182       45.35   3.50  Male    Yes   Sun  Dinner     3
183       23.17   6.50  Male    Yes   Sun  Dinner     4
184       40.55   3.00  Male    Yes   Sun  Dinner     2
187       30.46   2.00  Male    Yes   Sun  Dinner     5
189       23.10   4.00  Male    Yes   Sun  Dinner     3
190       15.69   1.50  Male    Yes   Sun  Dinner     2
192       28.44   2.56  Male    Yes  Thur   Lunch     2
193       15.48   2.02  Male    Yes  Thur   Lunch     2
194       16.58   4.00  Male    Yes  Thur   Lunch     2
196       10.34   2.00  Male    Yes  Thur   Lunch     2
199       13.51   2.00  Male    Yes  Thur   Lunch     2
200       18.71   4.00  Male    Yes  Thur   Lunch     3
204       20.53   4.00  Male    Yes  Thur   Lunch     4
206       26.59   3.41  Male    Yes   Sat  Dinner     3
207       38.73   3.00  Male    Yes   Sat  Dinner     4
208       24.27   2.03  Male    Yes   Sat  Dinner     2
210       30.06   2.00  Male    Yes   Sat  Dinner     3
211       25.89   5.16  Male    Yes   Sat  Dinner     4
216       28.15   3.00  Male    Yes   Sat  Dinner     5
217       11.59   1.50  Male    Yes   Sat  Dinner     2
218        7.74   1.44  Male    Yes   Sat  Dinner     2
220       12.16   2.20  Male    Yes   Fri   Lunch     2
222        8.58   1.92  Male    Yes   Fri   Lunch     1
224       13.42   1.58  Male    Yes   Fri   Lunch     2
230       24.01   2.00  Male    Yes   Sat  Dinner     4
231       15.69   3.00  Male    Yes   Sat  Dinner     3
234       15.53   3.00  Male    Yes   Sat  Dinner     2
236       12.60   1.00  Male    Yes   Sat  Dinner     2
237       32.83   1.17  Male    Yes   Sat  Dinner     2
241       22.67   2.00  Male    Yes   Sat  Dinner     2
The number of men who smoke =  60

In [ ]:
female_yes = df[(df['sex'] == 'Female') & (df['smoker'] =='Yes')]
print(female_yes)
print('The number of woman who smoke = ',len(female_yes))

     total_bill   tip     sex smoker   day    time  size
67         3.07  1.00  Female    Yes   Sat  Dinner     1
72        26.86  3.14  Female    Yes   Sat  Dinner     2
73        25.28  5.00  Female    Yes   Sat  Dinner     2
92         5.75  1.00  Female    Yes   Fri  Dinner     2
93        16.32  4.30  Female    Yes   Fri  Dinner     2
100       11.35  2.50  Female    Yes   Fri  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2
102       44.30  2.50  Female    Yes   Sat  Dinner     3
103       22.42  3.48  Female    Yes   Sat  Dinner     2
109       14.31  4.00  Female    Yes   Sat  Dinner     2
164       17.51  3.00  Female    Yes   Sun  Dinner     2
168       10.59  1.61  Female    Yes   Sat  Dinner     2
169       10.63  2.00  Female    Yes   Sat  Dinner     2
178        9.60  4.00  Female    Yes   Sun  Dinner     2
186       20.90  3.50  Female    Yes   Sun  Dinner     3
188       18.15  3.50  Female    Yes   Sun  Dinner     3
191       19.81  4.19  Female    Yes  Thur   Lunch     2
197       43.11  5.00  Female    Yes  Thur   Lunch     4
198       13.00  2.00  Female    Yes  Thur   Lunch     2
201       12.74  2.01  Female    Yes  Thur   Lunch     2
202       13.00  2.00  Female    Yes  Thur   Lunch     2
203       16.40  2.50  Female    Yes  Thur   Lunch     2
205       16.47  3.23  Female    Yes  Thur   Lunch     3
209       12.76  2.23  Female    Yes   Sat  Dinner     2
213       13.27  2.50  Female    Yes   Sat  Dinner     2
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
221       13.42  3.48  Female    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
240       27.18  2.00  Female    Yes   Sat  Dinner     2
The number of woman who smoke =  33

- men and women who don't smoke (Assumption 1)

In [ ]:
male = df[(df['sex'] == 'Male') & (df['smoker'] == 'No')]
print(male)
print('The number of men who dont smoke = ',len(male))

     total_bill   tip   sex smoker   day    time  size
1         10.34  1.66  Male     No   Sun  Dinner     3
2         21.01  3.50  Male     No   Sun  Dinner     3
3         23.68  3.31  Male     No   Sun  Dinner     2
5         25.29  4.71  Male     No   Sun  Dinner     4
6          8.77  2.00  Male     No   Sun  Dinner     2
7         26.88  3.12  Male     No   Sun  Dinner     4
8         15.04  1.96  Male     No   Sun  Dinner     2
9         14.78  3.23  Male     No   Sun  Dinner     2
10        10.27  1.71  Male     No   Sun  Dinner     2
12        15.42  1.57  Male     No   Sun  Dinner     2
13        18.43  3.00  Male     No   Sun  Dinner     4
15        21.58  3.92  Male     No   Sun  Dinner     2
17        16.29  3.71  Male     No   Sun  Dinner     3
19        20.65  3.35  Male     No   Sat  Dinner     3
20        17.92  4.08  Male     No   Sat  Dinner     2
23        39.42  7.58  Male     No   Sat  Dinner     4
24        19.82  3.18  Male     No   Sat  Dinner     2
25        17.81  2.34  Male     No   Sat  Dinner     4
26        13.37  2.00  Male     No   Sat  Dinner     2
27        12.69  2.00  Male     No   Sat  Dinner     2
28        21.70  4.30  Male     No   Sat  Dinner     2
30         9.55  1.45  Male     No   Sat  Dinner     2
31        18.35  2.50  Male     No   Sat  Dinner     4
34        17.78  3.27  Male     No   Sat  Dinner     2
35        24.06  3.60  Male     No   Sat  Dinner     3
36        16.31  2.00  Male     No   Sat  Dinner     3
38        18.69  2.31  Male     No   Sat  Dinner     3
39        31.27  5.00  Male     No   Sat  Dinner     3
40        16.04  2.24  Male     No   Sat  Dinner     3
41        17.46  2.54  Male     No   Sun  Dinner     2
..          ...   ...   ...    ...   ...     ...   ...
126        8.52  1.48  Male     No  Thur   Lunch     2
129       22.82  2.18  Male     No  Thur   Lunch     3
130       19.08  1.50  Male     No  Thur   Lunch     2
141       34.30  6.70  Male     No  Thur   Lunch     6
142       41.19  5.00  Male     No  Thur   Lunch     5
148        9.78  1.73  Male     No  Thur   Lunch     2
149        7.51  2.00  Male     No  Thur   Lunch     2
150       14.07  2.50  Male     No   Sun  Dinner     2
151       13.13  2.00  Male     No   Sun  Dinner     2
152       17.26  2.74  Male     No   Sun  Dinner     3
153       24.55  2.00  Male     No   Sun  Dinner     4
154       19.77  2.00  Male     No   Sun  Dinner     4
156       48.17  5.00  Male     No   Sun  Dinner     6
159       16.49  2.00  Male     No   Sun  Dinner     4
160       21.50  3.50  Male     No   Sun  Dinner     4
161       12.66  2.50  Male     No   Sun  Dinner     2
163       13.81  2.00  Male     No   Sun  Dinner     2
165       24.52  3.48  Male     No   Sun  Dinner     3
166       20.76  2.24  Male     No   Sun  Dinner     2
167       31.71  4.50  Male     No   Sun  Dinner     4
185       20.69  5.00  Male     No   Sun  Dinner     5
195        7.56  1.44  Male     No  Thur   Lunch     2
212       48.33  9.00  Male     No   Sat  Dinner     4
227       20.45  3.00  Male     No   Sat  Dinner     4
228       13.28  2.72  Male     No   Sat  Dinner     2
232       11.61  3.39  Male     No   Sat  Dinner     2
233       10.77  1.47  Male     No   Sat  Dinner     2
235       10.07  1.25  Male     No   Sat  Dinner     2
239       29.03  5.92  Male     No   Sat  Dinner     3
242       17.82  1.75  Male     No   Sat  Dinner     2

[97 rows x 7 columns]
The number of men who dont smoke =  97

In [ ]:
female = df[(df['sex'] == 'Female') & (df['smoker'] == 'No')]
print(female)
print('The number of men who dont smoke = ',len(female))

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
11        35.26  5.00  Female     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
32        15.06  3.00  Female     No   Sat  Dinner     2
33        20.69  2.45  Female     No   Sat  Dinner     4
37        16.93  3.07  Female     No   Sat  Dinner     3
51        10.29  2.60  Female     No   Sun  Dinner     2
52        34.81  5.20  Female     No   Sun  Dinner     4
57        26.41  1.50  Female     No   Sat  Dinner     2
66        16.45  2.47  Female     No   Sat  Dinner     2
71        17.07  3.00  Female     No   Sat  Dinner     3
74        14.73  2.20  Female     No   Sat  Dinner     2
82        10.07  1.83  Female     No  Thur   Lunch     1
85        34.83  5.17  Female     No  Thur   Lunch     4
94        22.75  3.25  Female     No   Fri  Dinner     2
104       20.92  4.08  Female     No   Sat  Dinner     2
111        7.25  1.00  Female     No   Sat  Dinner     1
114       25.71  4.00  Female     No   Sun  Dinner     3
115       17.31  3.50  Female     No   Sun  Dinner     2
117       10.65  1.50  Female     No  Thur   Lunch     2
118       12.43  1.80  Female     No  Thur   Lunch     2
119       24.08  2.92  Female     No  Thur   Lunch     4
121       13.42  1.68  Female     No  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
125       29.80  4.20  Female     No  Thur   Lunch     6
127       14.52  2.00  Female     No  Thur   Lunch     2
128       11.38  2.00  Female     No  Thur   Lunch     2
131       20.27  2.83  Female     No  Thur   Lunch     2
132       11.17  1.50  Female     No  Thur   Lunch     2
133       12.26  2.00  Female     No  Thur   Lunch     2
134       18.26  3.25  Female     No  Thur   Lunch     2
135        8.51  1.25  Female     No  Thur   Lunch     2
136       10.33  2.00  Female     No  Thur   Lunch     2
137       14.15  2.00  Female     No  Thur   Lunch     2
139       13.16  2.75  Female     No  Thur   Lunch     2
140       17.47  3.50  Female     No  Thur   Lunch     2
143       27.05  5.00  Female     No  Thur   Lunch     6
144       16.43  2.30  Female     No  Thur   Lunch     2
145        8.35  1.50  Female     No  Thur   Lunch     2
146       18.64  1.36  Female     No  Thur   Lunch     3
147       11.87  1.63  Female     No  Thur   Lunch     2
155       29.85  5.14  Female     No   Sun  Dinner     5
157       25.00  3.75  Female     No   Sun  Dinner     4
158       13.39  2.61  Female     No   Sun  Dinner     2
162       16.21  2.00  Female     No   Sun  Dinner     3
223       15.98  3.00  Female     No   Fri   Lunch     3
238       35.83  4.67  Female     No   Sat  Dinner     3
243       18.78  3.00  Female     No  Thur  Dinner     2
The number of men who dont smoke =  54

2. Assumption 2

I assume that the column size is the number of them in one table

- Men and women who smoke Assumption 2

In [ ]:
female_yes_2 = df[(df['sex'] == 'Female') & (df['smoker'] == 'Yes')]['size']
print(female_yes_2)
print('The number of women who smoke = ',female_yes_2.sum())

67     1
72     2
73     2
92     2
93     2
100    2
101    2
102    3
103    2
109    2
164    2
168    2
169    2
178    2
186    3
188    3
191    2
197    4
198    2
201    2
202    2
203    2
205    3
209    2
213    2
214    3
215    2
219    4
221    2
225    2
226    2
229    2
240    2
Name: size, dtype: int64
The number of women who smoke =  74

In [ ]:
male_yes_2 = df[(df['sex'] == 'Male') & (df['smoker'] == 'Yes')]['size']
print(male_yes_2)
print('The number of women who smoke = ',male_yes_2.sum())

56     4
58     2
60     2
61     2
62     2
63     4
69     2
76     2
80     2
83     2
90     2
95     4
96     2
97     2
98     2
105    2
106    2
107    2
138    2
170    3
171    2
172    2
173    2
174    2
175    2
176    2
177    2
179    2
180    4
181    2
182    3
183    4
184    2
187    5
189    3
190    2
192    2
193    2
194    2
196    2
199    2
200    3
204    4
206    3
207    4
208    2
210    3
211    4
216    5
217    2
218    2
220    2
222    1
224    2
230    4
231    3
234    2
236    2
237    2
241    2
Name: size, dtype: int64
The number of women who smoke =  150

- Men and women who don't smoke Assumption 2

In [ ]:
male_no = df[(df['sex'] == 'Male') & (df['smoker'] == 'No')]['size']
print(male_no)
print('The number of women who dont smoke = ',male_no.sum())

1      3
2      3
3      2
5      4
6      2
7      4
8      2
9      2
10     2
12     2
13     4
15     2
17     3
19     3
20     2
23     4
24     2
25     4
26     2
27     2
28     2
30     2
31     4
34     2
35     3
36     3
38     3
39     3
40     3
41     2
      ..
126    2
129    3
130    2
141    6
142    5
148    2
149    2
150    2
151    2
152    3
153    4
154    4
156    6
159    4
160    4
161    2
163    2
165    3
166    2
167    4
185    5
195    2
212    4
227    4
228    2
232    2
233    2
235    2
239    3
242    2
Name: size, Length: 97, dtype: int64
The number of women who dont smoke =  263

In [ ]:
female_no = df[(df['sex'] == 'Female') & (df['smoker'] == 'No')]['size']
print(female_no)
print('The number of women who dont smoke = ',female_no.sum())

0      2
4      4
11     4
14     2
16     3
18     3
21     2
22     2
29     2
32     2
33     4
37     3
51     2
52     4
57     2
66     2
71     3
74     2
82     1
85     4
94     2
104    2
111    1
114    3
115    2
117    2
118    2
119    4
121    2
124    2
125    6
127    2
128    2
131    2
132    2
133    2
134    2
135    2
136    2
137    2
139    2
140    2
143    6
144    2
145    2
146    3
147    2
155    5
157    4
158    2
162    3
223    3
238    3
243    2
Name: size, dtype: int64
The number of women who dont smoke =  140

### Question 2 :
- Average/mean tip of the men and woman who smoke

In [ ]:
tip_male = df[(df['sex'] == 'Male') & (df['smoker']=='Yes')]['tip'].mean()
print('A tip from average/mean man who smoke is = ',round(tip_male,2))

A tip from average/mean man who smoke is =  3.05

In [ ]:
tip_female = df[(df['sex'] == 'Female') & (df['smoker'] == 'Yes')]['tip'].mean()
print('A tip from average/mean man who smoke is =' ,round(tip_female,2))

A tip from average/mean man who smoke is = 2.93

In [ ]:
# Other solution

sex = df['sex'].values
smoker = df['smoker'].values
tip = df['tip'].values
join = zip(sex,smoker,tip)

jml_male = 0
count_male = 0
jml_female = 0
count_female = 0
for s,t,j in join:
    if (s == 'Male') & (t=='Yes'):
        jml_male+=j
        count_male+=1
    elif (s == 'Female') & (t=='Yes'):
        jml_female+=j
        count_female+=1
        
print('A tip from average/mean man who smoke is = ',round(jml_male/count_male,2))
print('A tip from average/mean man who smoke is =' ,round(jml_female/count_female,2))

A tip from average/mean man who smoke is =  3.05
A tip from average/mean man who smoke is = 2.93

### Question 3 :
- The day with the most lunch
- The day with the most dinner

1. I assume that this data is weekly, and the number of subscribers is calculated from the number of occurrences of the day in the day column

In [ ]:
df['day'].unique()

[Sun, Sat, Thur, Fri]
Categories (4, object): [Sun, Sat, Thur, Fri]

In [ ]:
df['time'].unique()

[Dinner, Lunch]
Categories (2, object): [Dinner, Lunch]

In [ ]:
sunday = len(df[(df['day'] == 'Sun') & (df['time'] =='Lunch')])
thursday = len(df[(df['day'] == 'Thur') & (df['time'] =='Lunch')])
friday = len(df[(df['day'] == 'Fri') & (df['time'] =='Lunch')])
sat = len(df[(df['day'] == 'Sat') & (df['time'] =='Lunch')])

print('Amount of lunch on Sunday = ', sunday)
print('Amount of lunch on Thur = ', thursday)
print('Amount of lunch on Fri = ', friday)
print('Amount of lunch on Saturday = ', sat)

Amount of lunch on Sunday =  0
Amount of lunch on Thur =  61
Amount of lunch on Fri =  7
Amount of lunch on Saturday =  0

In [ ]:
sunday = len(df[(df['day'] == 'Sun') & (df['time'] =='Dinner')])
thursday = len(df[(df['day'] == 'Thur') & (df['time'] =='Dinner')])
friday = len(df[(df['day'] == 'Fri') & (df['time'] =='Dinner')])
sat = len(df[(df['day'] == 'Sat') & (df['time'] =='Dinner')])

print('Amount of Dinner on Sunday = ', sunday)
print('Amount of Dinner on Thur = ', thursday)
print('Amount of Dinner on Fri = ', friday)
print('Amount of Dinner on Saturday = ', sat)

Amount of Dinner on Sunday =  76
Amount of Dinner on Thur =  1
Amount of Dinner on Fri =  12
Amount of Dinner on Saturday =  87

In [ ]:
## other solution
day = df['day'].values
time = df['time'].values
join = zip(day,time)


count_sun = 0
count_fri = 0
count_thur = 0
count_sat = 0

count_sun_dinner = 0
count_fri_dinner = 0
count_thur_dinner = 0
count_sat_dinner = 0
for d,t in join:
    if (d == 'Sun') & (t =='Lunch'):
        count_sun += 1
    elif (d == 'Thur') & (t =='Lunch'):
        count_thur += 1
    elif (d == 'Fri') & (t =='Lunch'):
        count_fri += 1
    elif (d == 'Sat') & (t =='Lunch'):
        count_sat += 1
    elif (d == 'Sun') & (t =='Dinner'):
        count_sun_dinner += 1
    elif (d == 'Thur') & (t =='Dinner'):
        count_thur_dinner += 1
    elif (d == 'Fri') & (t =='Dinner'):
        count_fri_dinner += 1
    elif (d == 'Sat') & (t =='Dinner'):
        count_sat_dinner += 1
    

print('Amount of lunch on Sunday = ', count_sun)
print('Amount of lunch on Thur = ', count_fri)
print('Amount of lunch on Fri = ', count_thur)
print('Amount of lunch on Saturday = ', count_sat)
print('=========================================')
print('Amount of Dinner on Sunday = ', count_sun_dinner)
print('Amount of Dinner on Thur = ', count_thur_dinner)
print('Amount of Dinner on Fri = ', count_fri_dinner)
print('Amount of Dinner on Saturday = ', count_sat_dinner)

Amount of lunch on Sunday =  0
Amount of lunch on Thur =  7
Amount of lunch on Fri =  61
Amount of lunch on Saturday =  0
=========================================
Amount of Dinner on Sunday =  76
Amount of Dinner on Thur =  1
Amount of Dinner on Fri =  12
Amount of Dinner on Saturday =  87

2. I assume that this data is weekly, and the number of subscribers is calculated from the size column

In [ ]:
sunday = df[(df['day'] == 'Sun') & (df['time'] =='Lunch')]['size'].sum()
thursday = df[(df['day'] == 'Thur') & (df['time'] =='Lunch')]['size'].sum()
friday = df[(df['day'] == 'Fri') & (df['time'] =='Lunch')]['size'].sum()
sat = df[(df['day'] == 'Sat') & (df['time'] =='Lunch')]['size'].sum()

print('Amount of lunch on Sunday = ', sunday)
print('Amount of lunch on Thur = ', thursday)
print('Amount of lunch on Fri = ', friday)
print('Amount of lunch on Saturday = ', sat)

Amount of lunch on Sunday =  0
Amount of lunch on Thur =  150
Amount of lunch on Fri =  14
Amount of lunch on Saturday =  0

In [ ]:
sunday = df[(df['day'] == 'Sun') & (df['time'] =='Dinner')]['size'].sum()
thursday = df[(df['day'] == 'Thur') & (df['time'] =='Dinner')]['size'].sum()
friday = df[(df['day'] == 'Fri') & (df['time'] =='Dinner')]['size'].sum()
sat = df[(df['day'] == 'Sat') & (df['time'] =='Dinner')]['size'].sum()

print('Amount of Dinner on Sunday = ', sunday)
print('Amount of Dinner on Thur = ', thursday)
print('Amount of Dinner on Fri = ', friday)
print('Amount of Dinner on Saturday = ', sat)

Amount of Dinner on Sunday =  216
Amount of Dinner on Thur =  2
Amount of Dinner on Fri =  26
Amount of Dinner on Saturday =  219

In [ ]:
data = df['size'].sum()
print(data)

627